:root {
  --r-comparison-one: red;
  --r-comparison-two: yellow;
}

.comparison {
  .comparison-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    justify-items: center;
    align-items: center;

    .compare-icon {
      background: #fff;
      border-radius: 100%;
      padding: 10px;
      width: 100px;
      height: 100px;
      border: 4px solid;
    }

    &.small {
      gap: 5px;

      .compare-icon {
        width: 50px;
        height: 50px;
        padding: 5px;
        border: 0;
      }
    }

    .comparison .compare-icon {
      border-color: var(--r-comparison-one);
    }
  }

  .legend-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .legend-icon {
    width: 30px;
    height: 30px;
    background: white;
    display: inline-block;
    border-radius: 100%;
  }

  .legend-one .legend-icon {
    background-color: var(--r-comparison-one);
  }

  .legend-two .legend-icon {
    background-color: var(--r-comparison-two);
  }
}

#serverless-server {
  .compare-icon {
    border-color: var(--r-comparison-one);

    &[data-id="icon-aws"],
    &[data-id="icon-cloudflare"],
    &[data-id="icon-azure"] {
      border-color: var(--r-comparison-two);
    }
  }
}

#serverless-price {
  .compare-icon {
    border-color: var(--r-comparison-one);

    &[data-id="icon-aws"],
    &[data-id="icon-cloudflare"],
    &[data-id="icon-azure"] {
      border-color: var(--r-comparison-two);
    }
  }
}

.vramework-layer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 20px;
  border: 2px dashed #ccc;
  padding: 20px;
  width: 300px;
  height: 300px;

  .logic-layer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border: 2px dashed #ccc;
    width: 125px;
    height: 125px;
    padding: 20px 50px;
    border-radius: 12px;

    img {
      width: 50px;
      height: 50px;
    }
  }
}

.table-icon {
  width: 60px;
  border-radius: 100%;
  background-color: white;
  padding: 5px;
  background-size: contain;
}

.vramework-inner-workings {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  gap: 5px;
  width: fit-content;

  > * {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-radius: 5px;
    border: 1px dashed #ccc;
    position: relative;

  }

  .function-layer {
    &::after {
      content: "Vramework"
    }
    padding: 10px 100px;
    >* {
      border-radius: 5px;
      border: 1px solid #ccc;
      padding: 30px 10px 0px 10px;
    }

    >*>* {
      border-radius: 5px;
      border: 1px solid #ccc;
      padding: 5px 10px;
      margin-bottom: 10px;
    }

    .title {
      position: absolute;
      right: 0;
    }

    .functions {
      position: relative;
      height: fit-content;

      .function {
        position: relative;
      }

      .function::after {
        content: "function";
        border-style: solid;
      }
    }

    .services {
      position: relative;
      height: fit-content;

      .service {
        position: relative;
      }

      .service::after {
        content: "Service";
        border-style: solid;
      }
    }

    .functions::after {
      content: "Functions";
      border-style: solid;
    }

    .services::after {
      content: "Services";
      border-style: solid;
    }
  }

  .cli-layer {
    justify-content: space-around;
    &::after {
      content: "CLI"
    }
  }

  .plugin-layer {
    justify-content: space-around;
    &::after {
      content: "Plugins";
      border-style: solid;
    }
  }

  .function-layer::after,
  .cli-layer::after,
  .plugin-layer::after,
  .functions::after,
  .services::after,
  .service::after,
  .function::after {
    position: absolute;
    border-radius: 0 0 0 5px;
    padding: 5px;
    top: 0;
    right: 0;
    font-size: 10px;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px;
    border-left: 1px;
    border-color: #ccc;
    border-style: dashed;
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 5px;
    background-color: white;
  }
}